/* You can add global styles to this file, and also import other style files */
:root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full viewport height
  background: fixed;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/bg.jpg');
}